<h1>Customers - No Email</h1>

<div class="columns is-multiline">
  <% @customers.each do |c|%>
    <%= render c %>
  <% end %>
</div>

<div>
  <p><a href="/customers/">Customers</a></p>
  <p><a href="/customers/order">Customers ordered by name</a></p>
</div>